html
{
    width: 100%;
    height: 100%;
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition:all ease-in-out 0.5s;
}
body
{
    background-color: #151515;
}


@media screen and (max-width: 1366px)
{
/*===========================Header================================== */
div#header-div
{ 
   
    display: flex;
    gap: 20px;
    height: 130px;
    background-color: #310202;
    box-shadow: inset 0px  -20px 50px 30px  #151515;
    align-items: center;
    justify-content: right;
}
div#logo-container
{
    width: 400px;
    display:flex;
    justify-content: left;
    
    
}
img#logo
{
    width: 100px;
}
div#container-menu
{
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 720px;
}
ul#menu li
{
   display: inline-block;
   list-style: none;
   padding: 15px;
}
ul#menu li a
{
   text-decoration: none;
   color: White;
   font-weight: 700;
   font-size: 14pt;
   padding: 1px;
   border-radius: 15px;
   
}
ul#menu li:hover
{
 background-color: #310202;
 border-radius: 15px;
 box-shadow: inset 0px  0px 10px   #ffffff;
 cursor: pointer;
}


/*===========================//Header================================== */

/*===========================Conteudo================================== */
    div#container
    {
        width: 100%;
        height: 100%;
        display: flex;
                                             
    }


div#painel
{
    margin-top: 50px;
    width:100%;
    height: 375px;
    background-color: #310202;
    display: flex;
    position: relative;
    overflow-x: hidden;
    justify-content: space-between;
    gap: 50px;
    scroll-behavior: smooth;
    box-shadow: inset 0 0 150px 150px #151515;
    padding-left: 50px;
    padding-right: 50px;

    
}


.card
{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 320px;
    background-color: #333232;
    border-radius: 20px;
    border-left: 4px groove rgb(133, 133, 133);
    border-top: 4px groove rgb(133, 133, 133);
    color: #FFF;
    box-shadow: 10px 5px 15px #000000;
    transform:translateY(20px);
    opacity: 0.9;
    transition: 0.5s
}
.card:hover
{
    transform:translateY(0px);
    opacity: 1;
    transition: 0.5s
}

.card-description
{
    text-align: center;
    
}
.card-image
{
    border-radius: 20px;
    width: 180px;
}

svg#btn-next
{
    fill: #000;
}
svg#btn-next:hover
{
    fill: #ffffff;
}
svg#btn-previous
{
    fill: #000;
}
svg#btn-previous:hover
{
    fill: #ffffff;
}

#next-image-button
{
    width: 40px;
}
button.slide-buttons
{
     width: 100px;
    height: 100px;
    background-color: transparent;
    color: white;
    border-radius: 20px;
}
button#next
{
    position: fixed;
    top: 30%;
    left: 93%;
}

button#previous
{
    position: fixed;
    top: 30%;
    left: 0%;
}
div#infoCarnes
{
color: white;

}

}